[2018-03-14 12:46] elvirdolic opened #1 "Feature Request: Be able to define ApiSufix in Task"
It would be great to have the possibility to define the api suffix property in the task

![image](https://user-images.githubusercontent.com/17769458/37403107-0c6cecfa-278e-11e8-90d5-6b7fa25c6c9f.png)

[2018-03-14 13:11] stephaneey commented on #1
You're right, I had it in the radar then I forget. I'll quickly add it, stay tunned :)

[2018-04-10 19:34] elvirdolic commented on #1
Any progress on this?

[2018-04-10 19:55] stephaneey commented on #1
Sorry, should work on this over the weekend

[2018-05-09 08:33] bmargula opened #3 "No Policy can be set when Policy selection is set to 'None'"
As I can see in task.json of apim folder, the None option for Policy has a wrong visibleRule.

[code]
therefore preventing to show the field to apply your own policy.

Question: My existing policy in API management is always overwritten even when selecting 'None'. How can this be prevented?

[2018-05-11 13:07] stephaneey commented on #3
Hi,

Thanks for reporting this bug. In the meantime, you can select anything else but the "none" policy and override the default template with your content. It's a nasty workaround but should unblock you.

Best Regards

[2018-06-04 18:40] lurumad opened #4 "API URL suffix"
Hi,

How can I specify "API URL suffix" in the Creation/Update of Gateway APIs task?

Regards!

[2018-06-04 18:49] stephaneey commented on #4
Hi,

This is actually the API name parameter.

Best Regards

[2018-06-05 07:04] PeterSkov88 opened #5 "Bad operationid when updating in VSTS using API Management Suite, but not when doing update using Azure Portal"
First of all thank you for a great module.

We have one small but crucial problem, we are unsure if it is our fault, your fault or if it is the API Management REST API.

The problem is that when changing name or adding a new service we get sometime get a operationid that is "5abdd23213u3.." instead of the real name. If you need an example JSON file that generates this please let me know.

We have

[2018-06-05 14:15] lurumad opened #6 "Typo in CreateOrUpdateApi (Write-Hosts)"
https://github.com/stephaneey/azure-apim-extension/blob/379d8e935b76a0ec53baff69faa9e2d510dc5a5b/apim/apim.ps1#L127

[2018-06-05 14:16] lurumad opened #7 "Typo in CreateOrUpdateApi (Write-Hosts)"
https://github.com/stephaneey/azure-apim-extension/blob/3d66c0bd52943b8dc8c6727bc0f093925702fa10/apimfunction/apimfunction.ps1#L165

[2018-06-05 16:14] lurumad commented on #4
Hi @stephaneey

I think is not good idea to share this variable for the name and suffix. For example in Azure Api Management import cmdlet, you specify the path but Api Managment takes the name from swagger specification.

In this case I prefer to choose both of them, but is not possible, I prefer the way of import cmdlet works.

Regards!

[2018-06-05 16:14] #4 closed

[2018-07-12 11:22] DirkJelleseInh opened #8 "Option to specify different API URL suffix from Name"
When API is created Name is used in API-URL suffix, would like to gave an option to differ from name.

[2018-07-12 13:40] tomkerkhove commented on #8
I'm not sure if I'm understanding your request, can you please elaborate more and/or add a screenshot?

If you want to have an api suffix on the gateway that is different from the name you can simply change that during or after creation of the api itself.

[2018-07-12 13:52] DirkJelleseInh commented on #8
[cid:image001.png@01D419F8.3FFE20F0]
We are deploying from a swagger file, but in the end we will get https://apitstinh.azure-api.net/tst-onderwijsinstelling/v2-api/onderwijsinstelling/onderwijseenheden.

If we can modify the base url. To test and keer the name tst-onderwijsinstellingv2-api that would be awesome. If we modify the URL in azure it still works, however next deployment the API URL suf

[2018-07-12 14:18] tomkerkhove commented on #8
Unfortunately I cannot see the image that you've added but when you import - Do you do it in the portal or via PowerShell?

[2018-07-12 14:48] stephaneey commented on #8
Hi,

 @tomkerkhove  I guess they just use my extension to deploy their API and indeed, I'm not offering any option for the API suffix as you have in the portal. I will rework the extension, you can expect to have a V2 anytime soon. I'm just back from Japan so I had no time but I will try to work on it soon.

Thanks
Best Regards

[2018-07-16 06:32] DirkJelleseInh commented on #8
Hello,

That would be awesome, it is our last piece of the puzzle for deployment via TFS/VSTS.
I’ll try to make a public folder on my OneDrive to share the screenshots for the future.

I’m trying to get familiar with GitHub, the desktop program is not doing what it should on my laptop.
I don’t know if you appreciate any extra’s via a fork, let me know. Maybe I can contribute to your great work.
I

[2018-07-16 07:11] DirkJelleseInh commented on #8
![api_screen_shot](https://user-images.githubusercontent.com/41152313/42746464-29e1c6f6-88d8-11e8-8e4e-72728ebee2db.jpg)

[2018-07-16 07:11] DirkJelleseInh commented on #8
I added the screenshot I was talking about.

[2018-07-25 11:48] stephaneey commented on #7
@lurumad  thanks, indeed, same in another script...copy/paste joys :).

[2018-07-25 11:48] #7 closed

[2018-07-25 12:43] lurumad commented on #8
Hi @DirkJelleseInh

Something like this

![suffix](https://user-images.githubusercontent.com/1729519/43201485-f2071f90-9018-11e8-8c4b-81b9b38b415c.png)

I need time to make a PR.

Regards!

[2018-07-25 12:46] DirkJelleseInh commented on #8
@lurumad yes that's the part we would like to controle separate of the name

[2018-07-25 13:58] stephaneey commented on #8
@DirkJelleseInh  @lurumad  I'm working on this, I'm fixing the easiest problems first :) but I'll definitely work on that one too.

[2018-07-25 14:11] lurumad commented on #8
Hi @stephaneey

I've done this in a private branch.

Regards!

[2018-07-25 14:32] stephaneey commented on #8
Hi @lurumad

Might be interesting to share so that I don't reinvent the wheel.

Thanks

[2018-07-25 17:33] PeterSkov88 commented on #5
Hi!
Of course, I will test it again when I am back att the office in the 6:th
of August and give you an example or retract my issue.

Best wishes
  Peter

Den ons 25 juli 2018 14:25stephaneey <notifications@github.com> skrev:

[2018-07-26 07:18] lurumad commented on #8
Done in #9

Regards!

[2018-08-03 15:24] PeterSkov88 commented on #5
Hi!
Now that I revisited the problem I realize that it might just happen when using HEADER for versioning an API (we do that for all out APIs). So If you take my examplefile,
[modified_swagger_that_generates_error.zip](https://github.com/stephaneey/azure-apim-extension/files/2257689/modified_swagger_that_generates_error.zip) (have to unpack it), and manually import it using the azure portal and yo

[2018-08-13 13:07] stephaneey commented on #6
Thanks it will be fixed in the next release :)

[2018-08-13 13:07] #6 closed

[2018-08-15 06:58] stephaneey commented on #8
Hello,

Great, thanks! Just published a new release on the market place.

[2018-08-15 06:58] #8 closed

[2018-08-15 07:06] PeterSkov88 commented on #5
Thank you!

Tell us when it is done and we will test it as much as we can (with other examples than the one above).

Best Wishes
   Peter

[2018-08-15 08:03] stephaneey commented on #1
Done & released

[2018-08-15 08:03] #1 closed

[2018-08-15 08:04] stephaneey commented on #3
Just realized one thing: it's a normal behavior that when you select "None" you cannot define any policy, that's the desired behavior. However, I added a new choice "custom" that lets you specify anything without overriding a predefined template.

[2018-08-15 08:04] #3 closed

[2018-08-15 08:05] stephaneey commented on #5
Hi Peter,

I've just released the new version that includes the versioning scheme. It behaves as in the portal so your issue should be fixed now.

Best Regads

[2018-08-15 08:06] #5 closed

[2018-08-15 13:53] anton-g opened #11 "Feature request: Load swagger definition from (artifact) file"
This looks amazing and is exactly what I've been looking for for a while now.
The only thing I'm missing is being able to load the swagger definition from a file. We generate our definitions when we build the solution in VSTS, and this would be the last part missing from a fully automated work flow.

I might take a stab at this myself, but my knowledge in both VSTS task creation and powershell are

[2018-08-15 14:06] stephaneey commented on #11
Hi @anton-g ,

Thanks for the feedback. I'm going to look into that as well.

Best Regards

[2018-08-15 14:59] lurumad commented on #11
Hi @anton-g

Maybe you can publish your swagger definition from VSTS build to some place like an storage account and try to reference from VSTS task.

Regards!

[2018-08-15 15:40] stephaneey commented on #11
Well, I think that just getting it as a build artifact should do the trick. For the storage account, with the current task, you might already achieve it as I'm asking for a URL, it could be the URL of your blob with a SAS that is long enough.

[2018-08-15 15:43] stephaneey commented on #11
Hi @lurumad ,

sorry, I just realize that you were responding to @anton-g  :). Indeed, he can do what you suggest with the current solution. I'll still have a look at getting the swagger file as a build artifact on top of the 2 other possibilities.

Best Regards

[2018-08-17 13:44] stephaneey commented on #11
Hi @anton-g

Just released! You may now provide the Swagger definition as a build artifact. I also updated the documentation on the marketplace to make your API Host dynamic across your release pipeline. This is in theory beyond the API Management extension itself but I thought it'd be interesting to provide a way to cope with multiple environments.

Best Regards

[2018-08-17 13:44] #11 closed

[2018-10-04 17:50] MattHartz opened #14 "Update API (Create or Update Task) From swagger.json URL fails"
Versioned Create or Update error:
2018-10-04T17:44:02.6533208Z found api
2018-10-04T17:44:24.6744550Z ##[error]You cannot call a method on a null-valued expression.
2018-10-04T17:44:24.7326356Z ##[section]Finishing: API Management - Create/Update API

Unversioned Create or Update error:
2018-10-04T17:27:02.7107197Z @{code=ValidationError; target=path; message=API with specified URL already exists}

[2018-10-05 08:53] stephaneey commented on #14
Hi,

The problem is similar to the one reported on the marketplace https://marketplace.visualstudio.com/items?itemName=stephane-eyskens.apim#qna so the solution is the same as well. APIM, whether from the portal or from Azure DevOps does not accept different facade APIs against the same backend, it only accepts different versions of the same facade API on the same backend. You probably misconfigur

[2018-10-05 08:53] #14 closed

[2018-10-05 20:44] MattHartz commented on #14
Hi @stephaneey , thanks for the question response.  Yeah, it appears that I wasn't aware that the task takes in consideration the Swagger Title (at least that's what i'm guessing it uses). Because of that I had specified in the API Name section, what was already defined in my APIM.  But when I went to update it, it used what was specified in the swagger title instead, therefore making 2 APIs point

[2018-10-06 12:34] stephaneey commented on #14
Happy it's working for you now.

[2018-10-08 10:53] rdeveen opened #15 "Can't add multiple products to API"
In API Management i can add multiple products to a API. In the step "API Management - Create or Update API" is can only select one product (or use the product created by previous task) to add to the API.
Would like to add multiple products to the API.

[2018-10-08 11:18] stephaneey commented on #15
Hi,

Indeed, I'll have a look at that one.

Best Regards

[2018-10-16 14:40] DibranMulder opened #16 "API Management - Create/Update API - Make fields editable with variables"
![image](https://user-images.githubusercontent.com/5592416/47024261-9e241d80-d161-11e8-873f-04922e9a140a.png)

When I want to use this task in a Task group then I'll have to work with variables. Once I've used one variable in the Subscription field I'm not able to use others in for instance the Resource Group field.

The following fields should be editable with variables:
* Subscription
* Resource

[2018-10-16 21:15] stephaneey commented on #16
Hi @DibranMulder ,

Ok I get it, it is simply because I didn't make the picklists editable. It's not a big change but I'll probably do it in a few days. I'm right now quite busy at a conference so I'm running out of time. Stay tuned, I'll change that soon.

Best Regards

[2018-10-17 01:10] stephaneey commented on #16
Hi @DibranMulder,

I've updated the extension.

Best Regards

[2018-10-17 06:53] DibranMulder commented on #16
Ok thanks! When will the marketplace be updated?

[2018-10-17 09:03] DibranMulder commented on #16
Ah I see the extension is updated, thanks for the super fast response!

[2018-10-17 09:03] #16 closed

[2018-10-23 11:24] DibranMulder opened #17 "Can't create groups"
It would be nice if you could create a group via Azure DevOps. Now I have to add one of the default groups to a Product.

[2018-10-24 00:45] leerodgers opened #18 "New API doesn't select OAuth"
I'm using the create / update API and select Oauth and the selected provider and when it creates the security option is none.  Is this a known issue?

[2018-10-25 08:54] DibranMulder opened #19 "API Management - Create or Update API on Azure Functions - Make fields editable with variables"
![image](https://user-images.githubusercontent.com/5592416/47488206-2da58c80-d844-11e8-9610-1113238393e1.png)
When I want to use this task in a Task group then I'll have to work with variables. One field is not editable, namely:
- Functions Resource Group

 Simular issue as #16

[2018-10-25 09:00] stephaneey commented on #16
Hi @DibranMulder ,

I'll fix this over the week-end and basically, I'll review all the tasks just to be sure.

Thanks

[2018-10-25 09:16] stephaneey commented on #18
Hello,

I'm going to have a look at it over the week-end

Best Regards

[2018-10-25 11:30] stephaneey commented on #18
Hi,

For some reason (probably due to a merging with a pull request), this part of the code was gone...I re-integrated back and published the updated extension accordingly. In theory, you don't have to change anything on your side and just retry in a few hours from now.

Note that if you use a self-hosted agent and do not see the update, you might want to restart the service and/or worse case, del

[2018-10-25 11:30] #18 closed

[2018-10-25 11:31] stephaneey commented on #19
Hello,

Done and published!

Best Regards

[2018-10-25 11:31] #19 closed

[2018-10-25 11:44] DibranMulder commented on #19
You are fast 🥇 👍

[2018-10-25 11:48] leerodgers commented on #18
Thanks!

[2018-10-25 16:11] protac1 opened #20 "Installation error version conflict"
I am getting this error installing this extension:
All the task versions belonging to Contribution apim should have the same task id. The tasks at apim/v1/task.json (version 1.0.7) and apimversioned/v1/task.json (version 1.0.3) do not have the same ids.

[2018-10-25 16:13] leerodgers opened #21 "Create API leaves Web Service URL blank"
Creating a new API now seems to work propertly where it takes all of the settings but I would expect the base URL to use the base URL of the swagger.  For example:

if I used this URL for swagger: https://testing123.azurewebsites.net/swagger/ui/index

I would expect the baseUrl to be https://testing123.azurewebsites.net/

Instead the baseUrl is blank and that results in my API being set up to go n

[2018-10-25 17:09] leerodgers commented on #21
It actually keeps wiping out the base URL, i have to disable the task.  I don't think it was doing this yesterday.

[2018-10-25 17:12] leerodgers commented on #21
by Base URL i mean: Web service URL

[2018-10-25 21:53] ohdihe commented on #21
Hi @leerodgers
I am having the same issue when I use the **Create or Update API task**. However, it works as expected when I use the **Create or Update Versioned API task**.

Something must have gone wrong somewhere. I am just assuming, based on the time stamp of the code commits and the time stamp of your issue ticket.

[2018-10-26 08:57] stephaneey commented on #21
Hi @ohdihe and @leerodgers ,

Sorry guys! I had the authorization feature that disappeared probably due to a conflict in a pull request that I had overlooked. I integrated back but used the wrong verb (PUT instead of PATCH) to update the API with the authorization bits, that caused the service url to vanish...So, it's back to normal now. I just republished the extension on the marketplace and I'm

[2018-10-26 08:57] #21 closed

[2018-10-29 16:57] unsafecode opened #22 "API Version not read"
When setting "API Version" to any string not matching the `^v[0-9]+` pattern, the "Versioning Scheme" field is hidden, and when run, the task does not set the version as specified. However, APIM Portal allows any Versioning string.

[2018-11-02 15:47] unsafecode commented on #22
I did some investigations, and I noticed that whenever the API in not already present, `v1 `is created instead of the passed version label.

https://github.com/stephaneey/azure-apim-extension/blob/master/apimversioned/v2/apimversioned.ps1#L185

I do understand this might be the default behavior, but it is actually misleading IMHO

[2018-11-12 20:01] drovani opened #23 "Unable to select v2 of APIM"
When attempting to changing the version of the API Management task (regardless of which task is chosen), there is no ability to select a version other than "1.*".

![image](https://user-images.githubusercontent.com/898478/48372079-160f3600-e683-11e8-9dd4-3a127e2dd41a.png)

We've already tried to uninstall and reinstall the extension, but to no avail. This is for Azure DevOps; I don't have the abil

[2018-11-14 07:47] stephaneey commented on #23
Hi,

There must be something wrong with your tenant as it should automatically update the extension. As you're the only one reporting this, I guess it is an isolated issue. You should ask MS support as the update process is a behind the scenes thing.

Best regards

[2018-11-14 13:16] R0binT commented on #22
I have the same problem

[2018-11-14 13:34] R0binT opened #24 "Create or Update Versioned API From Azure Function for AF v2"
Hi,
I have azure function which are on the v2.
The thing is that the OpenApi feature is not supported yet.
So the problem is when the task try to get the swagger from it.
I get that error :
`[error]You cannot call a method on a null-valued expression.`
Would it be possible the give an external swagger file ?

Thanks

[2018-11-14 13:51] R0binT commented on #24
<img width="1151" alt="screenshot 2018-11-14 at 14 50 32" src="https://user-images.githubusercontent.com/6819007/48486745-b2207500-e81c-11e8-9db8-1e2398e3ea06.png">

[2018-11-14 19:29] drovani commented on #23
This is happening across multiple tenants, and even with a freshly created Azure DevOps account - just to be sure it wasn't something with configuration.

Is there a setting somewhere that may prohibit Version 2 from being displayed or selectable? Perhaps a dependency in Azure DevOps that v2 requires?

A lot of the features and problems we've been running into while attempting to use v1 look like

[2018-11-15 03:11] bhdg-ops commented on #20
This was installed from Marketplace.

[2018-11-16 09:35] lurumad commented on #23
Happen the same to me,

![image](https://user-images.githubusercontent.com/1729519/48613091-13665680-e98b-11e8-8e91-ca7627c3bb38.png)

I'm going to see what's happening.

Maybe it's related to the new Azure Dev Ops. I've had to change the category to install in new Azure Dev Ops:

![image](https://user-images.githubusercontent.com/1729519/48613179-4e688a00-e98b-11e8-9b41-ccdeda787597.png)

[code]

[2018-11-16 09:40] stephaneey commented on #23
Crazy, they basically made a breaking change! I'm going to republish the extension with this new category...plus I cannot reproduce this on my own tenant

[2018-11-16 09:50] lurumad commented on #23
I can reproduce in my subscription, I can't select versions from each tasks so maybe they made a breaking change also in new Azure Dev Ops?

Regards!

[2018-11-16 09:55] stephaneey commented on #23
Well, I've just republished the extension with the right category "Azure Pipelines", however, on my tenant I have no issue...For sure, they made breaking changes since I haven't updated the extension plus it's even not consistent given that I cannot reproduce the problem on my side.

[2018-11-16 09:57] stephaneey commented on #23
Now that I have repackaged it using the last version of tfx-cli and that it didn't complain about anything, maybe it will work. Could you retry in an hour or so?

Thanks

[2018-11-16 10:11] stephaneey commented on #23
Ok I can also reproduce the issue on a fresh new tenant...what a heck! I'll have a look at it!

[2018-11-18 13:42] stephaneey commented on #23
Hey guys,

Some news: for me, it is clearly an Azure DevOps bug. I'm packaging the extension exactly as it should when having multiple versions of a task. If I only keep V2, it works on a fresh new tenant but I don't want to do that and take the risk to impact existing pipelines. I'm in touch with MS to see how to get this fixed...

[2018-11-21 20:39] stephaneey commented on #23
Hello,

Just to keep you posted on the latest things. Microsoft found the root cause and they should push a fix on Monday but given time zones, you should expect it fixed by Tuesday where I'll push a dummy update of the extension to make sure the MS fix gets into play.

Best Regards

[2018-11-22 07:59] DibranMulder commented on #23
Do you have any github issue where you can relate to? Just curious...

[2018-11-26 15:21] mavvoorn commented on #24
We have the same thing

[2018-11-26 15:29] mavvoorn opened #25 "Fields missing when using Swagger location 'Code'"
[Problem with API Management.docx](https://github.com/stephaneey/azure-apim-extension/files/2616185/Problem.with.API.Management.docx)

How to reproduce
-->When creating an API, choose '**code**' for the _Swagger location field_. ..
    a _swagger body*_ field label pops up without an entry field with it.

Other issue, how to reproduce
-->When creating a non versioned API, choose '**Basic**' in the

[2018-11-27 11:01] stephaneey commented on #23
Hello,

MS fixed the problem at their level and my test tenant was automatically updated so I can select V2 of tasks, so this should be fixed for you as well.

Best Regards

[2018-11-27 11:01] #23 closed

[2018-11-27 11:04] lurumad commented on #23
Good news @stephaneey I'm going to talk with my customers!

Thanks!

[2018-11-27 11:09] stephaneey commented on #25
Hi,

I cannot reproduce either of these problems in my tenant. Note that MS had some issues since the transition to Azure DevOps. They pushed an update today so this might have been related. Whatever happened, I cannot reproduce this on my old tenant nor on my new one. So, if it keeps persisting on your tenant, it might be a tenant-specific issue.

Best Regards

[2018-11-27 11:09] #25 closed

[2018-11-27 14:44] stephaneey commented on #25
Hi @mavvoorn ,

Sorry but I never tested it with TFS, only with VSTS now Azure DevOps. There might be some limitations.

Best Regards

[2018-11-28 14:20] drovani commented on #23
I can confirm that it is now working as expected on my tenants. Thank you for looking into this.

[2018-11-30 13:41] stephaneey commented on #24
Hello,

I don't think I will implement this as modifying the extension will most probably cause many other issues later on as there is a tight coupling between the function name and its OpenAPI counterpart. If I let people generate their own swagger and if they fail to respect (or simply do not want) this, the task won't be able to generate the operation-level policy that injects the function key.

[2018-11-30 13:41] #24 closed

[2018-12-02 16:32] stephaneey commented on #15
@lurumad  will you be working on this?

[2018-12-02 16:33] stephaneey commented on #17
@lurumad will you be working on this?

Thanks

[2018-12-04 14:37] mavvoorn commented on #25
Hi Stephane,

You state that TFS is supported in de API subscription. As on premises no longer is supported by closing this issue, please remove Team Foundation Server from de API Management description.

[2018-12-04 14:44] stephaneey commented on #25
Hi @mavvoorn ,

I stated that I **never** tested with TFS (my previous comment) so I do not not support it. The _works with_ part is not managed by me but by MS so please do create a ticket to MS if you want to get it fixed. I'm not using TFS for at least 3 years so I clearly do not develop TFS extensions.

Best Regards

[2018-12-04 14:46] stephaneey commented on #25
I'd also add: feel free to fork this repo and make your own version targeting TFS exclusively, it's open source, so you can do whatever you want with it :)

[2018-12-05 14:22] lurumad commented on #17
Ok @stephaneey if you want integrate my changes it's perfect because I'm on holidays until monday.

Regards!

[2018-12-08 07:40] stephaneey commented on #17
Hello,

It has been added and published to the marketplace.

Best Regards

[2018-12-08 07:40] #17 closed

[2018-12-08 07:42] stephaneey commented on #15
Hello @lurumad ,

Just noticed that you forgot to clear out the products in case you go from two or more to 1 product...the problem was already there but it becomes more visible now that you can associate APIs with multiple prodocuts. I'll update it but leave the issue opened meanwhile.

Best Regards

[2018-12-08 08:44] DibranMulder commented on #17
Sweet!

[2018-12-19 09:32] DibranMulder commented on #21
Its this broken again? I get empty web service urls inside my API's. Only when I set the `host` inside my swagger.json it works.

[2018-12-19 14:38] stephaneey commented on #21
Hello,

You need to provide the backend host url in the swagger, use a release variable to have it dynamic.

Best Regards

[2019-01-09 15:11] anton-g opened #28 "Escaping policies using double quotes (")"
Hi!

We've run in to an issue when we wanted to use the policy template when creating/updating an API, but the policy contains a double quote ("). Since the extension [replaces all " with '](https://github.com/stephaneey/azure-apim-extension/blob/67b8d6972d14d2c96c929ebb5b1105f357970b18/apimcreateorupdateproduct/v3/apimcreateorupdateproduct.ps1#L70) in the policy it breaks when sending to APIM.

M

[2019-01-09 15:53] stephaneey commented on #28
Hi Anton,

I'll have a look at it over the weekend since I already planned a new release.

Thanks
Best Regards

[2019-01-10 07:14] anton-g commented on #28
I discovered that you can escape quotes by replacing them with `&quot;`, so maybe that could work here as well :)
Thanks for a great extension!

[2019-01-13 17:00] stephaneey commented on #28
Hello anton, I've indeed used the htmlentity &quot; and it seems it's working allright :)

[2019-01-13 17:00] #28 closed

[2019-01-17 16:36] Veterini opened #30 "Generated documentation does not take operation description into account"
Hello,
Your extension has been of great use for us lately but we found some issues concerning the way we want our documentation to look like. As you can see in the link below
[](https://blogs.msdn.microsoft.com/apimanagement/2018/04/11/important-changes-to-openapi-import-and-export/)  the newest version will correct our issue about operation's description.

Would it be difficult to update the call

[2019-01-18 12:05] stephaneey commented on #30
Hi Justin,

It might be indeed a good idea to let the user choose the target API version but of course, I don't plan to test all versions so it might also be a source of problems for users...who might thus create issues on the repo just because the code hasn't been tested accordingly. Of course, newer API versions are supposed to be backward compatible but we never know. I'll check your pull reque

[2019-01-24 13:30] jaq316 commented on #30
We also want to leverage the newer api version

[2019-01-24 15:11] mavvoorn commented on #25
Hi Stephane,

I want to share some good news. After upgrading to TFS 2018 u3.2 we retested the API management and found out that is now contains the missing fields but also lets us do a deployment.

There is only 1 strange thing, see the image below. It is in dutch, but I recon you can read it. Deployment is only possible with the url in http:  If it contains an https url it is faulting.

![url ap

[2019-01-26 20:05] stephaneey commented on #30
Hello,

I guess I'll add the selector to other tasks as well but since I merged @jaq316 's pull request, that should fix it for at list the main apim task.

Thanks
Best Regards

[2019-01-26 20:05] #30 closed

[2019-01-30 08:00] stephaneey commented on #25
Hi Mark,

Sorry for my late reply but I was on a trip. That's indeed a good news but I have no clue why HTTPS is not working. What might be the problem is that your remote SSL endpoint requires client certificates to authenticate. You should double-check this with your colleagues. If this is the problem, you might prefer to provide the swagger in-line or from the repo.

Best Regards

[2019-01-30 08:02] mavvoorn commented on #25
Thanks for the tips.

But in the end;      you can add TFS 2018 u3.2 onprem to the supported
platforms again for the apim :)

Op wo 30 jan. 2019 om 09:00 schreef stephaneey <notifications@github.com>:

--
*uMARK-IT  drs. M.A. van Voornveld*
Wiekslag 107  3815 GD  Amersfoort
06 8010 3612   mavvoorn@gmail.com
Kvk 70083304   BTW 1734.45.068.B01

[2019-02-01 14:32] Sid3way opened #35 "In which release will Microsoft API version selector be available"
Hello,

I was wondering in which release the commit [https://github.com/stephaneey/azure-apim-extension/commit/2dd41ae82fe05dab87cad4b929546b836d11690c](url) will be made available.

Thank you very much for your amazing work !

Sid3way

[2019-02-01 15:04] stephaneey commented on #35
It's already available but right now only for the task "API Management - Create or Update Versioned API"

[2019-02-01 16:48] Sid3way commented on #35
Thank you for your fast response.
Is there any plan to make it available to the `Create or Update API` task ?
I tried using the one for the versioned API but I ended up with a rather generic error
[code]

I suspect that something went wront. I duplicated the configuration from my other task but there may be some prerequisites for versionned API that I'm not aware of.

[2019-02-01 17:15] stephaneey commented on #35
Well, the thing is: the versioned API is intended to be used from scratch, meaning that if you try to deploy a versioned API on an existing API that you deployed with the non-versioned API task, it is likely to fail. I'll try to update the other tasks to use the same version selector this week-end. Stay tunned!

[2019-02-04 14:50] Sid3way commented on #35
Ok, it makes perfect sense in my case indeed.
I'll wait for your much appreciated update.

Thank you again for your work :)

[2019-02-05 10:17] jaq316 commented on #28
We're also experiencing this issue in the `Set or update an operation policy` task. Can you point me in the right direction here?
`&quot;` doesn't seem to work

[2019-02-05 20:55] KZeronimo commented on #35
Just to be clear this should enable the import of an Open API v3 document - correct?

[2019-02-13 01:57] KZeronimo opened #36 "Content Format use openlink-api"
Now with APIM supporting OpenApi v3 would it be appropriate to change `contentFormat: swagger-json` to `contentFormat: openlink-api`

I did a quick smoke test and the latter support importing both v2 and v3 artifacts

Thoughts?

[2019-02-13 09:56] stephaneey commented on #36
Hello,

Indeed, that makes sense. I'll add it to the list of things to do for the next release.

Thanks
Best Regards

[2019-02-14 12:34] chris9263 opened #37 "Apply global policy to API management"
Would be great to have a task that applies a global policy to an API management instance.

[2019-02-15 03:50] TLaborde opened #38 "Save/Restore style and template of Developer portal"
Hi,

Do you think you could had feature to save and restore the style of the developer Portal? I found a way to do so in powershell and use a build task using Azure Powershell. It's using undocumented endpoints, but it works...

[2019-02-24 09:25] stephaneey commented on #38
Hello,

Thanks for your suggestion but I prefer not to work with undocumented endpoints as they might simply be discarded or changed completely by MS with no backward compatibility.

Best Regards

[2019-02-24 09:25] #38 closed

[2019-02-24 09:49] stephaneey commented on #37
Hello,
Thanks for your suggestion. I have implemented the change, I'll publish the extension any time soon, stay tuned!
Best Regards

[2019-02-24 09:49] #37 closed

[2019-02-24 10:03] stephaneey commented on #35
Hello,

I've added the version selector to two other tasks. I will publish the extension any time soon.

Best Regards

[2019-02-24 10:03] #35 closed

[2019-02-27 20:04] amyhre16 commented on #28
Has the fix for this been released yet? We've tried suing the `&quot;` but it's still not totally working.

[2019-02-27 20:08] amyhre16 commented on #28
Also getting the following errors. Is this an issue with my policy or an issue with the extension?

`<set-variable name="x-sub" value="@(context.Request.Headers[&quot;Authorization&quot;].First().Split(&quot; &quot;)[1].AsJwt()?.Claims[&quot;sub&quot;].FirstOrDefault())" />`
The set-variable tag is line 25. Error: `@{code=ValidationError; target=set-variable; message=Error in element 'set-variable

[2019-02-28 07:20] rdmzkn opened #39 "Override scope in API Settings in APIM is set to null"
"API Management - Create or Update API" Azure DevOps task does not have Override Scope setting in Authorization Server section. This is kindof OK, but for update API scenario it also removes the existing Override scope Configuration (ticked checkbox and the specified value) avaiable in API Management for the target API.

![override_scope](https://user-images.githubusercontent.com/11408882/53548382

[2019-03-06 10:28] vaseems opened #40 "Validation Error"
2019-03-06T10:21:38.1870541Z @{code=ValidationError; target=representation; message=Parsing error(s): JSON is valid against more than one schema from 'oneOf'. No valid schemas. Path 'paths./user.post.parameters[0]', line 1, position 879.}
2019-03-06T10:21:38.4594175Z ##[error]The remote server returned an error: (400) Bad Request.

Getting this error for the below swagger json

`"/user": {
  "post

[2019-03-21 08:57] Farre82 opened #41 "Support OpenApi 3 json"
Are you planning to support openapi spec. When trying to use such spec i m getting missing swagger version error.

[2019-03-25 13:42] stephaneey commented on #41
Hi,

I'm working on it.

Best Regards

[2019-03-25 14:27] alprema commented on #35
Hi,

I am also interested in this issue, so I looked at the commit log and couldn't find a commit matching the modification you mentioned when you closed this issue (or any commit after end of January).

Is this still a work in progress?

Thanks

[2019-03-25 15:15] stephaneey commented on #41
Hi,
I'm trying to get it work with a native YAML file. Reached out to MS about it as it keeps failing.
Best Regards

[2019-03-25 15:17] stephaneey commented on #36
Hi,

Tried it out.  FYI, it is not openlink-api but openapi-link and it only works with v3. While you might think it works with v2, you'll notice that your web service URL will be screwed up. The doc states that it only works with v3 anyway. I'm now waiting for MS feedback as I can't get it work with a native YAML definition. To be more explicit, the openapi-link works with both but trying to send

[2019-03-26 09:11] stephaneey commented on #41
Hello,

It is working now. I'll publish the new version next week-end as I'll be out for a few days so I don't want to take the risk to publish a new release (there are other changes too) while not being available.

Best Regards

[2019-03-26 09:11] stephaneey commented on #36
Hello,

It is working now. I'll publish the new version next week-end as I'll be out for a few days so I don't want to take the risk to publish a new release (there are other changes too) while not being available.

Best Regards

[2019-03-26 21:48] Farre82 commented on #41
Thanks!

[2019-03-26 21:48] #41 closed

[2019-03-29 08:11] thomasvdb commented on #40
I have the same issue when using the "Create/Update API" task.
Our swagger.json contains the following section:

[code]

Receiving the following error:
[code]

Any idea what could cause this issue?

[2019-03-29 14:58] thomasvdb commented on #36
Will it also support openapi+json?

[2019-03-29 15:05] stephaneey commented on #36
Yep it will. I'll finish that next Sunday

[2019-04-01 10:06] MarcoK80 opened #42 "API Management - Create or Update Versioned API select different Api Version hides version scheme"
If you rewrite the API version from v1 to 1 for example then the API versioning scheme configuration gets hidden.
Reproducable with task API Management - Create or Update Versioned API in version 2 and 3.

[2019-04-01 10:09] MarcoK80 opened #43 "API Management - Create or Update Versioned API v3 fails to deploy API but v2 works"
We are using spaces in the API names

V2: Choose the API name with spaces in between and update API managment works
V3: Error shown:

`2019-04-01T09:42:53.7260446Z @{code=ValidationError; target=versionSetId; message=Invalid identifier test - test API - testversionset specified.  Entity Identifier can contain only letters, numbers, and hyphens. The first and last character must be a letter or a nu

[2019-04-01 10:11] MarcoK80 opened #44 "API Management - Create or Update Versioned API: Not possible to specify API Display Name"
It is not possible to specify the API Displayname and API Name with different values. This needs improvement to have both as input fields.

[2019-04-04 13:00] MarcoK80 opened #45 "API Management - Create or Update Versioned API: Deploy of version 2 or 3 overwrites version 1"
We have two or three sequential tasks with different swagger files and versions. When running the tasks we observed that sporadically the version 1 is overwritten with content of version 2 or 3 after some releases
So the task is not reliable.

We tested and found if we call the tasks in order
API Version 2
API Version 1
then it overwrites the API Version 2 sporadically. So always the last task is

[2019-04-05 08:29] stephaneey commented on #44
Hello,

I'm about to release a new version (this week-end) where you will be able to specify both API name and display name.

Best Regards

[2019-04-05 08:29] #44 closed

[2019-04-08 17:52] stephaneey commented on #45
Hello,

I can't reproduce this.

Best Regards

[2019-04-08 17:52] #45 closed

[2019-04-08 17:53] stephaneey commented on #42
Hello,

Indeed, the declarative approach of Azure DevOps task is sometimes a limiting factor. "v1" is part of a display rule of another control and cannot be changed. You have to live with this limitation or customize the task for your own use only.

Best Regards

[2019-04-08 17:53] #42 closed

[2019-04-08 17:56] stephaneey commented on #40
Hello,

The 400 error message is returned by the Azure Management API itself. The extension is not responsible for this. The extension simply forwards your JSON or YAML declaration to the Azure API, just make sure it is correct. Pay attention not to have weird chars in your document, certainly when working with the artifact and the code way of bringing your specs.

[2019-04-08 17:56] #40 closed

[2019-04-08 17:57] stephaneey commented on #36
Hello,

The last release supports this scenario.

Best Regards

[2019-04-08 17:57] #36 closed

[2019-04-08 17:58] stephaneey commented on #39
Hello,

I'll have a look at it but indeed, when pushing an update, it pushes what is defined in the pipeline.

Best Regards

[2019-04-11 16:39] R-Lamberson opened #46 "Ability to import swagger for existing API and create a new revision from it"
Looking for the ability to create a revision to an existing api during the import of the swagger either by setting a specific revision number or allowing it to auto generate

[2019-04-28 20:45] JuanJose-Herrera opened #47 "uniqueItems is not a valid property (error returned by Api Azure Management)"
HI @stephaneey,

Firs I want to thank you with the grate job for this pipeline for Azure Api Management.

I don't think this is an issue from you code, but I am requesting your help about if you understand why microsoft return me an error updating the Api from the azure pipe line using powershell and not from the UI.

The error showed by the pipeline is:
`2019-04-27T17:59:17.4449422Z Creating or u

[2019-04-30 16:38] cpdohert opened #48 "Create or Update Versioned API 3.3.0 does not set serviceUrl from an Open API 3.0.1 JSON file"
This is the first chunk of my OpenAPI v3.0.1 JSON file:

[code]

If I import this to my APIM resource within the Azure Portal (APIs > Add API > OpenAPI v3) or by right-clicking the three dots and importing the file over top of the pre-existing API, everything works as I expect.

Using v3.3.0 of the **Create or Update Versioned API** task to deploy this same file does not populate the serviceUrl fi

[2019-04-30 17:15] cpdohert commented on #48
Additional information: this happens with all three Microsoft API versions exposed by the task (2017-03-01, 2018-01-01, 2018-06-01-preview)

[2019-05-13 09:45] riccardobecker commented on #48
Do you already have an update on this issue? I am experiencing the same issue!

[2019-05-13 10:46] stephaneey commented on #48
Hi,

Sorry for my late answer, I was in holidays... I'll have a look at it this week.

Best Regards

[2019-05-13 14:51] FelixBoers opened #49 "Create or Update Versioned API 3.3.0: Error when version number contains a dot"
Creating or updating a versioned API results in an error when the version contains a dot.

API Name: my-api
API Version: 1.0

_@{code=ValidationError; target=aid; message=Invalid identifier my-api1.0 specified.  Entity Identifier can contain only letters, numbers, and hyphens. The first and last character must be a letter or a number }_

---

Task Version: 3.3.0
Microsoft API Version: 2018-01-01

[2019-05-13 14:52] FelixBoers commented on #49
I'll create a pull request for this issue.

[2019-05-13 15:03] stephaneey commented on #49
Hi Felix,

Thanks!

[2019-05-13 15:03] FelixBoers commented on #49
I think, the error is in line 234 of the `apimversioned/v3/apimversioned.ps1` script file:

[code]

Doesn't this result in a wrong url? For example if `$newapi="my-api"` and `$v="1.0"` the url results in `.../apis/my-api1.0;rev=1?api-version=...`.

Why is there a concat of `$newapi` and `$v` in the first place? Shouldn't it be only `$newapi`?

[2019-05-13 15:05] stephaneey commented on #49
yes it probably is the error. However, you should test with Fiddler (or postman) first to make sure you do not have side effects. The Azure APIs also have new capabilities since the time I started the extension..To be checked!

[2019-05-13 15:21] FelixBoers commented on #49
Seems like, the format of the URL is correct: [see documentation](https://docs.microsoft.com/en-us/rest/api/apimanagement/apis/createorupdate#apimanagementcreateapinewversionusingexistingapi)

What do you think about replacing `.` with `-` in the identifier? So instead `my-api1.0` we would create `my-api1-0`.

[2019-05-13 15:44] FelixBoers commented on #49
I've created a draft pull request. Please let me know, what you think.

[2019-05-13 17:40] stephaneey commented on #49
Ok thanks, I'll have a look at it but I'll have to make some regression tests so it might take a bit of time. Thanks for your contribution

[2019-05-13 17:45] FelixBoers commented on #49
Thanks for your reply. I'll try to find time to make some tests, too.

[2019-05-21 18:28] jetedrow commented on #48
I am bumping this issue - It is affecting me in my deployments also.

[2019-05-24 06:21] wouterdeman opened #51 "Redeploying an existing versioned api imports swagger to the current version instead of the given version"
We are using the create/update versioned api task and could successfully created a second version using the task but when redeploying the new version the swagger definition gets imported on the current version instead of the new version.

I reviewed the powershell code and I think it goes wrong at line 265 in https://github.com/stephaneey/azure-apim-extension/blob/master/apimversioned/v3/apimversi

[2019-05-31 10:08] stephaneey commented on #51
Hello,

I can't reproduce your issue. Could you provide me with more details on the exact configuration you're defining?

Thanks
Best Regards

[2019-06-01 08:43] stephaneey commented on #49
Hi Felix,

I've just reviewed your pull request and there is one non-functioning line of code. Could you please go through my comments, apply changes so that I can accept the pull request?

Thanks

[2019-06-01 08:49] stephaneey commented on #47
Hi @JuanJose-Herrera ,

The doc you mentioned is indeed applicable to OpenAPI v3. Please use the task with v3.

Thanks

[2019-06-01 08:49] #47 closed

[2019-06-01 09:02] stephaneey commented on #48
Hello,

Do you still have the issue? I've tried with both Swagger & YAML inputs and it works fine. I have my resulting URL correctly filled in. I also tried to either deploy from scratch, either deploy a new version only and I always have the service URL correctly set.

Please let me know or provide me with your swagger.

Thanks

[2019-06-01 09:08] #15 closed

[2019-06-03 09:28] wouterdeman commented on #51
**Run 1 - Creates api and one api version (swagger file deploy)**
Task: API Management - Create or Update Versioned API (V3)
OpenApi Version: V2
ProductName: MyProduct
Api Name: Engine
API Version: 2019
Microsoft API Version: 2018-01-01

**Run 2 - Adds a new version 2020 to the Engine API (swagger file deploy)**
Task: API Management - Create or Update Versioned API (V3)
OpenApi Version: V2
Product

[2019-06-03 13:10] stephaneey commented on #51
Hello,

I'm able to reproduce it now..it's an awful bug. I'll try to fix it ASAP.

Thanks
Best Regards

[2019-06-04 07:00] stephaneey commented on #51
Hello,

I fixed the issue and republished the extension today. It should be rolled out to your tenant in the coming hours.

Thanks
Best Regards

[2019-06-04 07:00] #51 closed

[2019-06-04 07:00] stephaneey commented on #49
Hello Felix,

I fixed the issue and republished the extension today. It should be rolled out to your tenant in the coming hours.

Thanks
Best Regards

[2019-06-04 07:00] #49 closed

[2019-06-04 07:01] stephaneey commented on #48
Hello,

Feel free to reopen the issue but since I'm not able to reproduce and since I do not have any news from your end, I'll just close it.

Best Regards

[2019-06-04 07:01] #48 closed

[2019-06-05 08:43] jmereaux opened #52 "Error 400 when trying to update an existing API"
Hello,

Since this morning, I am unable to update an existing API from a swagger JSON definition.
It gives the following error:

[code]

What seems strange to me also is that I can see that this is the version 3.3.0 of the extension that is used although version 3.4.1 is out since yesterday.
[code]

Could you please give any advice?
Thanks :-)

[2019-06-05 09:11] stephaneey commented on #52
Hello,

In theory, it is absolutely not related to the version of yesterday. The only changes that were made target API Management - Create or Update Versioned API. The Create or Update API task was not changed. I just ran this task again in my environment twice in a row and it works like a charm. You might have done things through the portal & things through CI/CD?

[2019-06-05 09:14] jmereaux commented on #48
Hi, I am having the exact same issue.
Here is the basic swagger I'm using

[code]

[2019-06-05 09:45] jmereaux commented on #52
Hello,
Thanks a lot for your quick reply!

The problem was apparently due to another API (with a different name though...) I had created manually and which was causing a conflict. Since I deleted it, the pipeline job was back working as it was.

Sorry, I will close the issue.

If you've got some time, could you please take a look at #48. The issue has been closed but I'm facing the exact same prob

[2019-06-26 13:08] thomasvdb opened #53 "Using "Product created by previous task" does not work if display name and name are different"
1. Add a release step "API Management - Create or update product"
1. In the textbox "Product" configure the value "ProductNameValue"
1. In the textbox "Display name" configure the value "ProductDisplayNameValue"
1. Add a release step "API Management - Create or Update API"
1. Configure this step with the checkbox "Product created by previous task" enabled

If you run this setup, the "API Managemen

[2019-07-30 10:28] simonness opened #54 "Overriding JWT Policy does not seem to work"
The inbound policy does not end up in API Management.  I have worked around this for now by using a 'Custom' policy.  I think I have spotted the issue so will raise a PR.

[2019-07-30 12:26] simonness opened #56 "Would like to set subscription required to false on an API"
I.e.

![image](https://user-images.githubusercontent.com/10990813/62123148-920be580-b2c7-11e9-9448-def705fdd98f.png)

This is available in the latest version of the REST API (2019-01-01) ([ref](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/apis/createorupdate)) as it got added in 2018-06-01-preview of the spec (https://github.com/Azure/azure-rest-api-specs/pull/4078).

[2019-07-30 14:01] #54 closed

[2019-07-30 14:03] stephaneey commented on #52
Not sure why you reopened that issue :)

[2019-07-30 14:03] #52 closed

[2019-07-30 14:04] stephaneey commented on #53
Hi Thomas,

Thanks for reporting the issue. I'll have a look at it. Stay tunned!

Best Regards

[2019-07-30 14:04] stephaneey commented on #56
Hello,

Thanks for reporting the issue, I'll have a look at it over the weekend. Stay tuned!

Best Regards

[2019-07-30 14:20] simonness commented on #56
Hi @stephaneey thanks very much for taking a look!

[2019-08-06 02:45] peter-tridius opened #57 "Function API: Access to the path is denied"
Thank you for such a great DevOps task!  I am using the Functions task to register our function with APIM.

I am getting an error right off the bat though.  I am getting an "Access To the Path is Denied" exception, pointing to apimfunction.ps1: line 111

It occurs in the log right after "Enabling Swagger for the target function set" and seems to be associated with the scm url.

![image](https://us

[2019-08-12 13:00] CGascon86 opened #58 "ERROR Create or update versioned API: You cannot call a method on a null-valued expression"
I'm trying to publish an API into API Management using the Task  called 'API Management - Create or update versioned API' and it always return this error:
       "You cannot call a method on a null-valued expression"

What's the problem? I've fill all the fields of the task :(

Thank's :)
Regards

[2019-08-23 07:09] bklekot opened #60 "Error when "non-standard" characters are in swagger file."
I'm experiencing many issues with swagger when non-standard characters are used:

@{code=ValidationError; target=representation; message=Parsing error(s): The key 'KeyValuePair[String,String]' in 'schemas' of components MUST match the regular expression '^[a-zA-Z0-9\.\-_]+$'. [#/components]
The key 'PagedData[ProcessInstanceData]' in 'schemas' of components MUST match the regular expression '^[a-z

[2019-09-02 07:48] erwinkramer opened #61 "Create or Update Versioned API - ValidationError Unexpected character encountered while parsing value: <"
When using definition URL https://petstore.swagger.io/v2/swagger.json on the "API Management - Create or Update API" task, it works fine. But when using the same definition on "API Management - Create or Update Versioned API" it fails.

I'm using ADO on-premise. The API's do get deployed and versioned, but the endpoint URL and operations are not visible. So it's not workable.

[code]

[2019-09-02 12:23] erwinkramer commented on #61
I just found out what the core issue was;

API Management - Create or Update API: Passes the definition URL
API Management - Create or Update Versioned API:  Downloads the definition URL and passes the content of that definition.

Now it happens to run on a machine with limited internet connectivity, so it would return a proxy blockpage. That blockpage is XML and starts with '<'.

Maybe some more

[2019-09-20 19:50] campy74 opened #62 "Creating or updating API with api management: error with uniqueItems"
I setphaneey,
We have a problem when we try to import our microservice with your extension.

The pipeline returned this issue:

2019-09-20T19:36:33.4323931Z Creating or updating API https://management.azure.com/subscriptions/582f37fa-236e-4d23-9924-915072d401f6/resourceGroups/ZWEU1-LNR-LS-RGP-D1-SUL/providers/Microsoft.ApiManagement/service/wkewdevapm0001/apis/userservice?api-version=2018-01-01
20

[2019-09-25 11:26] PatrikNorrgard opened #63 "Setup prerequisite and considerations"
Hi,

Could you elaborate on which steps are needed and what they are called in Azure Devops.

I tried giving the Devops Principal the "API Management Service Contributor" role, but still get an error:

`2019-09-25T11:17:54.7557114Z ##[section]Starting: API Management - Create/Update versioned API on Function(v1)
2019-09-25T11:17:54.7690814Z =========================================================

[2019-09-26 08:33] PatrikNorrgard commented on #24
Any news on this Function V2 support? You can import an Function V2 app from the Api Management GUI, by selecting "Function app", so there must be a way to do it without OpenApi (swagger). I did not see a command for this in the Azure Rest API, but maybe in Power shell?

[2019-09-28 05:24] thdotnet commented on #58
I am facing the same problem, do you know how to solve it?

[2019-10-16 11:01] CGascon86 commented on #58
No... I'm still having the problem :(

[2019-10-21 13:38] RomainLasso opened #64 "Creating or Updating an API : set the description of the API"
Hi Stephane,

First of all thanks for this extension !

Currently, it isn't possible to define the description of the API.
Do you plan to add this feature in a future release ?

Thanks

Romain

[2019-10-24 11:46] rndthoughts commented on #46
I was looking at this too, but my understanding is that you can't create a revision from a swagger definition.

[2019-11-11 19:41] sethwenzel opened #65 "Creat or Upodate a Global Policy does not set the baseurl, errors out always"
errors out with:

`##[error]Invalid URI: The hostname could not be parsed.`

apimglobalpolicy.ps1 line 88 references baseurl, but never sets the variable

[2019-11-27 14:55] jwakeen opened #66 "Create or update API does not set Web Service URL"
It does not appear there is a form field to set the web service url from the the Azure DevOps task. The web service url is actually cleared when running this task on an existing API. I have not tried the creation path.

[2019-11-28 09:09] weherdh opened #67 "Multi-clouds login issue"
The login url is hardcode which does not consider other azure clouds. In China azure, we cannot use "https://login.windows.net/" to get a token. Instead, we use "https://login.chinacloudapi.cn". Please add a parameter so that we can change the hardcode value so that we can use this task in DevOps pipeline.

[code]

[2019-11-28 09:09] weherdh commented on #67
/assign @stephaneey

[2019-12-18 09:14] TenChiHan opened #68 "Azure function v2 compatibility"
Hello,

Do you plan to implement compatibility with azure functions v2 ?

[2020-01-07 21:15] DavidFreetly opened #69 "double quote in operation policy gives ValidationError"
Hello,  I'm creating an Azure DevOps Release Pipeline with your suite of scripts and I can't get the 'Set or update an operation policy' script to run without it failing with a 400 response.  My issue seem to be related to the closed issue #28 but i'm just guessing on that.

Here is my simple custom policy that fails:

[code]

When I run the release task and look at the log file it looks the 'when

[2020-01-20 13:47] michaldudak opened #70 "Unnecessarily required groups in Product creation"
The `groups` parameter should not be required in the `apimcreateorupdateproduct` task.
Groups are not available in the Consumption tier and the task fails when ran against such a tier.

[2020-02-05 09:53] elvirdolic commented on #66
I have the same experience but with OpenApi 3.0

[2020-02-13 12:25] simonness commented on #64
+1 on this one.

[2020-02-16 08:24] MichaelKolb02 opened #73 "Swagger definition is too big"
Dear Stephane,

great work you are doing here!

Just a technical question / issue: I am trying to automate deployment for a rather big API and receive the following error:

2020-02-15T23:53:51.7163250Z ##[warning]Environment variable 'INPUT_SWAGGERCODE' exceeds the maximum supported length. Environment variable length: 84981 , Maximum supported length: 32766
2020-02-15T23:53:53.0138997Z ##[debug]V

[2020-02-16 15:36] stephaneey commented on #73
Hello,

Given the warnings, it's rather a limitation of environment variable length that have a smallint capacity. Not sure using PowerShell core instead of PowerShell would make any difference. You should maybe indeed switch to URL or Azure DevOps artifact for a lengthy OpenAPI definition. If you have an error, feel free to post another issue :). For this one, I'm not even generating those enviro

[2020-02-16 15:36] #73 closed

[2020-02-16 16:31] stephaneey commented on #65
Hello,

Fixed, I merge @simonness's pull request!

Thanks

[2020-02-16 16:31] #65 closed

[2020-02-16 17:23] simonness commented on #65
Thanks @stephaneey! 👍

[2020-02-16 18:04] stephaneey commented on #46
Hello @R-Lamberson  @rndthoughts ,

Indeed, you can't create new revisions while importing. The sequence is:

- Create a revision from another one
- Import

So, I'll work on making this transparently. I'll add a checkbox "Create new revision" which when checked will first create a revision and then import the OpenAPI definition. If unchecked, it will behave like today, meaning overwriting the curr

[2020-02-16 18:07] stephaneey commented on #67
Hi,

Indeed, I'll add this parameter with a default value of what's currently hard-coded. Sorry for the late answer!

Best Regards

[2020-02-16 18:09] stephaneey commented on #68
Hello,

Microsoft changed completely the way to integrate with Azure Functions which do not produce API definitions anymore. That was already a hard work to get it done for v1, now I'm afraid that I won't be able to adapt. I'll have a look but do not count too much on it.

Thanks
Best Regards

[2020-02-16 18:10] stephaneey commented on #66
Thanks @elvirdolic  for having answered!

[2020-02-16 18:10] #66 closed

[2020-02-16 18:12] stephaneey commented on #64
Hi @RomainLasso ,

Sorry for the late answer. Yes I'll add it.

Best Regards

[2020-02-16 18:16] stephaneey commented on #63
Hello  @PatrikNorrgard ,

As you might have seen from other issues, the extension only integrates with Azure Functions v1 which are quite outdated! However, Microsoft dramatically changed the way one can integrate with API Management. In v1, you could generate the OpenAPI definition from the Azure Functions and that's what the extension is doing right now. In v2 and v3, it's not possible anymore..

[2020-02-16 18:16] #63 closed

[2020-02-16 18:18] stephaneey commented on #70
Hi Michal,

Note that the extension has never been tested with the consumption tier which has its own way of working. For the time being, I don't plan to take it into account but feel free to contribute :)

Best Regards

[2020-02-16 18:18] #70 closed

[2020-02-16 18:34] PatrikNorrgard commented on #63
Thanks for the reply, I was afraid that would be the case :)

[2020-02-16 18:34] stephaneey commented on #28
Hi @anton-g, @amyhre16 , @DavidFreetly,

If I copy paste the set backend url policy "as is", it works like a charm so, I can't reproduce the issue.

Best Regards

[2020-02-16 18:39] stephaneey commented on #69
Hi @DavidFreetly ,

Note that your policy is actually invalid :). There is a missing parenthesis in the end. Anyway, using single quotes instead of the double quotes when enclosing the condition does the trick:

<when condition='@(context.Variables.GetValueOrDefault("test", "").Contains("123"))' />
            <otherwise>
                <return-response>
                    <set-status code="403"

[2020-02-16 18:39] #69 closed

[2020-02-16 18:48] stephaneey commented on #61
Hi,

Thanks for reporting this! Indeed, the extension has only be tested with Azure DevOps Services which has a default permanent & reliable connectivity to Internet. However, there is not much I can do about it. The "works with" section in the marketplace automatically tags extensions for both Azure DevOps Server & Services.

Best Regards

[2020-02-16 18:48] #61 closed

[2020-02-16 18:49] #60 closed

[2020-02-16 18:50] stephaneey commented on #58
Hello,

Since you don't give any context (Azure DevOps Server or Services, etc.) and since I cannot reproduce this, I'll simply close the issue. Feel free to open a new one **with more details** about the problem you are facing.

Thanks
Best Regards

[2020-02-16 18:50] #58 closed

[2020-02-16 18:52] stephaneey commented on #57
Hello,

Be sure that you do not have IP restrictions defined on the SCM endpoint. If that's the case, you must use a self-hosted agent that is included in the authorized IP range.

Best Regards

[2020-02-16 18:52] #57 closed

[2020-02-16 18:57] stephaneey commented on #62
Hi @campy74 ,

Trying to use your Swagger using the portal already fails. Please get your swagger fixed before trying to use my extension. If it doesn't work in the portal, it won't automagically work with my extension.

Best Regards

[2020-02-16 18:57] #62 closed

[2020-02-16 19:01] #53 closed

[2020-02-16 19:13] MichaelKolb02 commented on #73
Dear Stephane,

thanks for analyzing - I heavily agree. I was using the Uri before but received a very generic error:

2020-02-16T19:10:00.5756788Z ##[error]You cannot call a method on a null-valued expression.

After looking into this a bit, I supposed it was around line 161 of this file:
https://github.com/stephaneey/azure-apim-extension/blob/master/apimversioned/v3/apimversioned.ps1

So I ran a

[2020-02-17 08:42] nachiketrss opened #74 "Swagger validation which was working fine on 12th Feb is now failing validation for type: string, when it contains an example date as value"
Example Swagger/OpenAPI definition:
[code]

### Describe the bug you're encountering
The above is part of my swagger spec, and is getting validated ok in editor.swagger.io

We have release pipelines configured. The task 'API Management - Create or Update API' is used in the azure devops release pipeline to configure the api. The task's field 'Definition Artifact' is given the path of the swagger s

[2020-02-17 09:20] stephaneey commented on #74
Hello,

It sounds like this is at APIM level that you are encountering a problem. Can you try directly from within the portal to see if your Swagger gets validated correctly. I'm not validating anything. I'm just transferring the "as is" Swagger to the API.

Best Regards

[2020-02-17 10:23] nachiketrss commented on #74
Where in the portal can I try this please?

From: Stephane Eyskens <notifications@github.com>
Sent: 17 February 2020 14:51
To: stephaneey/azure-apim-extension <azure-apim-extension@noreply.github.com>
Cc: Nachiket Kamat <nachiket@remotesoftwaresolutions.com>; Author <author@noreply.github.com>
Subject: Re: [stephaneey/azure-apim-extension] Swagger validation which was working fine on 12th Feb is n

[2020-02-17 12:24] stephaneey commented on #74
Well, you click on your APIM instance the new API, import swagger and see what it spits out!

[2020-02-25 07:52] stephaneey commented on #67
Fixed in V4 of APIM versioned task

[2020-02-25 07:52] #67 closed

[2020-02-25 07:52] stephaneey commented on #56
Fixed in APIM v4 versioned API task

[2020-02-25 07:52] #56 closed

[2020-02-27 17:06] stephaneey commented on #64
Just realized that API description should be defined in the Description field of the OpenAPI definition. Azure APIM takes it from there.

[2020-02-27 17:06] #64 closed

[2020-02-28 08:33] stephaneey commented on #46
Currently in preview

[2020-02-28 08:33] #46 closed

[2020-02-28 08:33] #74 closed

[2020-03-03 13:06] mayuribhavsar23 opened #75 "Internal Server Error while publishing Azure Function App into API Management Service Instance"
Hi,

I am trying to import Function APP APIs into API MS Instance using API Management - Create or Update against Azure Function. I am continuously getting Internal Server Error, not able to know the exact issue. I tried by adding VSTS service principal in both API MS and Azure Function Access Control with Contributor role. Also enabled Managed Identity on Azure function. Thanks

[2020-03-03 14:06] stephaneey commented on #75
Hello,

Beware that it only works with V1 functions (as indicated in the task itself). Microsoft changed radically the way they handle OpenAPI with Azure Functions for V2 and V3 and I'm unlikely going to migrate this given the amount of work and no warranty of a bit of stability on the MS side. However, I'll have a look at it still :)

Thanks
Best Regards

[2020-03-03 14:37] mayuribhavsar23 commented on #75
Sure. Thanks for your quick response. Is there any other way to integrate
Function App APIs with API Management Service VSTS extension instead of
Azure function - like directly adding API url? as I am not sure how can I
generate swagger json for azure function?

Thanks & Regards,
Mayuri

On Tue, Mar 3, 2020, 7:36 PM Stephane Eyskens <notifications@github.com>
wrote:

[2020-03-13 15:30] Peppers911 opened #76 "More control over Revisions"
Right now I'm glad to see support for Revisions, but right now we do not have any way of making created revision current or disabling existing one.

Is there any change of getting a new Task for setting specific Revision to Current?

[2020-03-14 16:25] stephaneey commented on #76
I could indeed add a "create and promote" new revision although I'm a bit scared that people would start to make errors, that's why I left the publishing of a new revision aside so that people really need to do it purposely.

[2020-03-14 18:56] stephaneey commented on #76
Hi,

I have implemented it and I have just released it on the marketplace.

Best Regards

[2020-03-14 18:56] #76 closed

[2020-03-15 08:56] stephaneey commented on #75
That's precisely what does not work anymore, generating the OpenAPI definition. I don't know why MS changed this.

[2020-03-15 10:19] iamjyotirmoy opened #77 "stephane-eyskens.apim.apimversioned.apimversioned@4 leads to errors"
Hello,
I have a task definition as below:

[code]

The task always leads to the error :
[code]

Can you please help on this? I even tried the version 3 task, that led to similar errors.
Previous to this I was exposing using the task 'stephane-eyskens.apim.apim.apim@3' and that works fine and the APIs are published on the API management - however all attempts to publish a versioned API leads to err

[2020-03-15 11:06] stephaneey commented on #77
Hi,

Did you purposely specify api version 2017-03-01? As of V4, the api should be 2019-01-01 (default value) so try to update this.

Best regards

[2020-03-15 12:26] iamjyotirmoy commented on #77
Thanks for the quick response. I just tried it with API version 2019-01-01, it gives the same error as before. I even tried V3, it leads to the same error.

Best regards

[2020-03-16 08:39] Peppers911 commented on #76
Thank you

[2020-03-17 09:44] Peppers911 commented on #77
I had the same problem, but changing API version fixed it for me... Could you post new logs with changed API version.

[2020-03-19 12:47] ivan-sam opened #81 "Allow to configure DisplayName for apimwsdl"
There's no **DisplayName** parameter of **apimwsdl** task, display name of new API is set to API name (identifier). It would be nice to have one, especially taking into account APIM feature of grouping API's with titles having the same words in the beginning, so having API's with display names
 - Test API One
 - Test API One
 - Test API Three

would be displayed on portal as:

**Test API**
   \- O

[2020-03-22 12:35] stephaneey commented on #68
Hello,

I have checked and that's kind of a nightmare so I guess, I won't implement it, sorry!

Best Regards

[2020-03-22 12:35] #68 closed

[2020-03-22 12:36] stephaneey commented on #77
Also, having this with V3 means that you have an issue with your config. I might as well suspect a lack of permission. V3 hasn't be changed for ages and is pretty stable.

[2020-03-22 12:36] #77 closed

[2020-03-22 12:37] #75 closed

[2020-04-14 14:25] akamud commented on #48
I'm still having this issue using Open API 3.0.1.

[2020-04-14 14:28] akamud commented on #48
This could be set in the request using: `properties.serviceUrl` and could be an extra parameter in the Task.

[2020-04-23 13:12] lewinskimaciej opened #82 "API Url Suffix should now be optional"
Hey, awesome extension, we'd like to start using this but one of the things stopping us is the fact that API URL Suffix is required in the extension, while it's not required in API Management service.
I'm not sure how long it's been a thing(because I think it was mandatory some time ago) but it's now optional both during editing and creation of an API.
Any chance to get this changed?

[2020-05-02 01:01] xmlguy74 opened #83 "API Portal combo not working"
We are having trouble running the "API Management - Create/Update API on Function" task. We get an access denied error while executing. We cannot see any issues with the DevOps service account, but we did notice that the combo box for the API Portal value does NOT populate. The function app and subscription/resource group combos DO work as expected.

We are using the consumption pricing model for

[2020-05-02 20:00] xmlguy74 commented on #83
The combo doesn't work for consumption plan based APIMs. You need to update your api-version for APIM rest calls to "2019-12-01".

[2020-05-02 20:11] xmlguy74 opened #84 "Import Azure Function into APIM Does not work for "Package" functions"
We cannot get the APIM import from Azure Function task to work. We are using ZIP package deployed functions (written in netcore, deployed via devops).

The task is failing when POSTing to the following endpoint.

[code]

We are getting the following error:

[code]

Does this task support these sort of Azure functions?

[2020-05-07 09:52] gsscoder commented on #8
I set it using [New-AzApiManagementApi](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagementapi?view=azps-3.8.0) specifying `-`Path`.

The problem is that you can't left it blank, like for `-ServiceUrl`.

A _workaround_ maybe using directly `New-AzResource` directly, but I had problems defining versions in such case.

See this S.O. question: https://stackoverflow

[2020-05-14 14:58] #84 closed

[2020-05-14 17:40] illay1994 commented on #77
Hi @iamjyotirmoy
I had same problem when my server certificate was invalid

[2020-05-14 17:52] illay1994 opened #85 "Display name not apply in stephane-eyskens.apim.apimversioned.apimversioned@3"
Hello,
I have a task definition as below:

steps:
- task: stephane-eyskens.apim.apimversioned.apimversioned@3
  displayName: 'API Management - Create/Update API '
  inputs:
    ConnectedServiceNameARM: AzDevOpsServiceConnection
    ResourceGroupName: 'rg_name'
    ApiPortalName: apidev
    OpenAPISpec: v3
    UseProductCreatedByPreviousTask: false
    product1: 'productName'
    swaggerlocation: '

[2020-05-15 12:43] HBCO opened #86 "'Set or update an operation policy' task fails"
Hi

First of all, great extension!!

I have an issue regarding the task 'API Management - Set or update an operation policy' which always fails for me with the error Bad Request (The remote server returned an error: (400) Bad Request.) regardless of the actual policy 'payload'. When checking the details the call which fails is : Linking policy to API USING https://management.azure.com/subscription

[2020-05-15 12:59] HBCO commented on #86
I found the API method https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apioperationpolicy/createorupdate

Any ideas to what is going wrong for me?

[2020-05-19 08:11] HBCO commented on #86
Problem solved. The issue was that I was typing in the API method name instead of selecting it in the dropdown. This casued the name instead of the id being used and that caused the task to fail.

[2020-05-19 08:11] #86 closed

[2020-05-22 08:05] jlzrc opened #87 "Import Policy from file"
Create/Update API have the possibility to load the swagger from a file (build artifact) providing the local path of the file: $(System.DefaultWorkingDirectory)/<yourswagger.json>

It would be possible to do a similar approach for Policies?  The idea we have is to store in a repository both the swagger and the policies and load from there so everything could be versioned.

[2020-05-24 07:33] stephaneey commented on #87
Hello,

Yes indeed, you're not the first one to ask. I'll put that on my radar.

[2020-05-25 06:07] HBCO commented on #87
A tip, I had the same 'challenge' and solved it by using this component : https://marketplace.visualstudio.com/items?itemName=maikvandergaag.maikvandergaag-file-to-variable

[2020-06-11 18:04] Iapmes opened #89 ""API Management - Create or Update API" don't escape all characters used in policy for JSON"
While working on policies involving more complex characters in policy expressions used in e..g regular expressions (like backslashes) found that these are not JSON escaped.

E.g. for https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions

The following example regular expression contains a backslash:
`@(Regex.Match(context.Response.Headers.GetValueOrDefault("Cache-

[2020-06-12 16:39] plec opened #90 "Specify scheme to https for API"
Hi,

We're using the azure-apim-extension to update our swagger API definition, thanks for this extension that skip manual operations !

We have one problem about specify the URL scheme to HTTPS of our API. We don't find any parameter in the task to specify that value.

We'v tried to use both v3 and v4 of the task without any success. Is it possible to do so with azure-apim-extension ?
![APIM-sche

[2020-06-12 17:49] stephaneey commented on #90
Hello,

It is normal since it comes from the openapi definition itself. In OpenAPI 2.0, there is an explicit schemes array while in 3.0, it is directly specified in the serverUrl attribute

Best Regards

[2020-06-12 17:49] #90 closed

[2020-06-12 17:52] joeyeng commented on #87
So would the task allow you to map the policy xml files to each operation (by operationId)? That would be nice.

[2020-06-12 19:48] joeyeng commented on #87
Oh, I see there's already a task for this (stephane-eyskens.apim.apimoperationpolicies.apimoperationpolicies@4), but it's just missing an option to set from a file.

[2020-06-16 03:17] joeyeng commented on #85
I looked at the code and DisplayName is given the same value as targetapi, so it's currently not possible to have different values unfortunately. I looked at ver @4 and it's the same.

[2020-06-16 03:20] joeyeng commented on #85
Also, according to documentation "this will be overwritten by the OpenAPI definition's title property", but that's not the behavior I'm seeing, and also didn't find that anywhere in the code.

[2020-06-30 12:29] imbatman4711 opened #91 "Issues with code validator for policy containing custom code"
I am currently trying to automate the api management with update with a swagger file using "API Management - Create or Update API" in Version 3.3.1. in Azure Devops.

During the release, I used the approach described in https://github.com/stephaneey/azure-apim-extension/issues/87 to provide a policy.

The policy i use contains
`    <outbound>
        <base />
        <choose>
            <when con

[2020-07-10 20:16] shaneholder opened #92 "Unable to save when using Azure Pipeline"
When attempting to add an API Management Task to an Agent Job using the Azure Pipeline I get the following error when saving.

TF20507: The string argument contains a character that is not valid:'u0009'. Correct the argument, and then try the operation again.
Parameter name: definition.Steps.None

I've tried the Create or Update a Global Policy, API Management - Create/Update API, API Management -

[2020-07-20 23:03] joeyeng opened #93 "Version 4.1.2 - Getting 401 when deploying API to Azure Gov"
I used the new CloudEnvironment parameter in v4 of the "Create or Update Versioned API" task and set it to https://login.microsoftonline.us/, but I'm getting an error that the audience/resource requested for the token was for the commercial endpoint (https://management.azure.com/), not Gov.

Please parameterize the audience/resource as well.

[2020-07-21 20:12] jmunny77 opened #95 "Additional parameter request"
I am using the "Restore API definition from repository" task in Azure Devops to deploy from the repository to APIM. The task will complete successfully but when navigating to the repository section within the designated APIM I notice the following error:

_$timestamp Product cannot be deleted since it has existing subscriptions. Products to delete: $productname_

Manually executing the "Deploy to

[2020-08-07 16:03] sussexrick opened #96 "ERROR Create or update versioned API: You cannot call a method on a null-valued expression"
I'm seeing the same issue as closed issue #58.

This is running on Azure DevOps (online, not Server) with the following task configuration:

[code]

The task output is as follows:

[code]

Looking at the task code at https://github.com/stephaneey/azure-apim-extension/blob/master/apimversioned/v4/apimversioned.ps1 I can see it's outputting the message on line 143 but not the one on 147. It's not ca

[2020-08-07 16:51] sussexrick commented on #96
OK, I worked this out. One of the requests, probably the Swagger one, was being blocked by IP restrictions on the web app set in the Azure portal under [web app] > Networking > Access restrictions.

I'll leave the issue open in case you can improve the documentation. It would be helpful if:
- the output showed the WebException, which is probably the 403 you get if you try web app from a browser wi

[2020-08-10 12:07] #96 closed

[2020-08-10 12:58] sussexrick commented on #96
For anyone finding this, the IPs used by Azure DevOps agents are listed at https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#agent-ip-ranges

[2020-08-10 14:47] Daniel-SW commented on #83
@xmlguy74 I am seeing the same issue. APIM on consumption tier does not show in the Combobox.

If you specify the name does the task still deploy to the APIM resource?

[2020-08-10 22:11] lamelyan opened #97 "500 error during the step - 'Enabling Swagger for the target function set'."
When I try to run a release task 'API Management - Create or Update API on Azure Functions (v1)' I get a 500 error during the step - 'Enabling Swagger for the target function set'.

![2020-08-10_15-17-44](https://user-images.githubusercontent.com/1872686/89836408-53d91100-db2c-11ea-92c0-69e8aa5cd1e3.jpg)

I believe this has to do with how my function app is published. It's in read-only mode, so yo

[2020-08-11 12:18] lamelyan opened #98 "Script overrides host.json file contents of Function app"
I noticed that when I run a release task 'API Management - Create or Update API on Azure Functions (v1)'

it overrides the contents of the host.json file of the Function App with `{"swagger":{"enabled":true}}`

I think[ this is the place where it overrides it](https://github.com/stephaneey/azure-apim-extension/blob/master/apimfunction/v3/apimfunction.ps1#L115). Is this correct?  If so, why does it

[2020-08-11 13:55] stephaneey commented on #98
Hello,

The only thing this task does is to extract the swagger definition from the function app and for this, Swagger must be enabled. However:

- Microsoft has completely changed the way swagger definitions are made available with Function Apps
- The extension only works with the version 1 of Azure Functions which are quite old since we are currently at version 3.

I would strongly encourage you

[2020-08-12 11:47] stephaneey commented on #97
Hello,

As stated in the task title, the extension only works with Azure Functions v1 not above because Microsoft completely changed the way functions's OpenAPI definitions are being generated.

Best Regards

[2020-08-12 11:47] #97 closed

[2020-08-12 21:27] lamelyan commented on #98
Ok. I'm using AZ Functions v2 so I'll have to find another way.

[2020-08-12 21:27] #98 closed

[2020-08-29 02:03] jkoteswararaoj opened #99 "Using API Management - Create/Update API task while Deploying API getting below"
2020-08-28T19:58:10.6087475Z @{code=ValidationError; target=representation; message=Parsing error(s): The Swagger version specified is unknown.}
2020-08-28T19:58:10.8072136Z ##[error]The remote server returned an error: (400) Bad Request.

Could you please have a look ? any thing you can help me here

[2020-08-29 02:08] jkoteswararaoj commented on #99
![image](https://user-images.githubusercontent.com/70419391/91626181-9161e900-e9ca-11ea-8599-a60ab9f957ca.png)

[2020-09-11 21:13] dregnaught opened #100 "Create/Update API from WSDL uses serviceName as the display name instead of the API name. No option to override."
When deploying a standard API from an OpenAPI/swagger file, you can supply both the API name and the display name. When deploying an API from WSDL, there is no option to provide the display name and it just uses the serviceName defined in the WSDL. This makes it very confusing to find the services and getting descriptive/aligned names in the portal.

Could I request that an update be made to align

[2020-09-14 20:19] dregnaught commented on #100
More info:

When deploying, it does appear that the "displayName" is set to the correct name (logs from deploy):

 {
 		"properties": {
 			"contentFormat": "wsdl-link",
 			"wsdlSelector" : {
 				"wsdlEndpointName": "CommonMessagingSupportWebServicePort",
 				"wsdlServiceName": "CommonMessagingSupportService"
 			},
 			"apiType": "soap",
 			"contentValue": "https://dev1-tl-commonmessaging-web

[2020-10-13 01:55] p4th0g3n opened #101 "API Security Checker"
Can the API Security Checker be used to scan API's that are not Imported/Published in Azure API Management?

[2020-10-14 08:28] frode commented on #83
As @xmlguy74 stated in his last comment, it seems like the consumption plan would work if the underlaying API-calls this extension does for operations would use "2019-12-01" it could function properly.

Perhaps a dropdown box with available API versions to choose from could be a solution here @stephaneey ?

"2017-03-01" <-- default for develop, standard, enterprise etc
"2019-12-01" <-- consumption

[2020-11-17 07:58] lisamariet opened #104 "Support for azure functions v2 and v3?"
Hi. Will you add support for v2 and v3 of functions API?

[2020-11-17 10:11] stephaneey commented on #104
Hello @lisamariet,

I'll check once more but since Microsoft changed the way it works, it has become much more tricky. Don't count on it too much

Best regards

[2020-11-17 12:54] lisamariet commented on #104
Perhaps have a look at this as well https://github.com/meanin/azure-apim-vsts

[2020-11-17 18:27] stephaneey commented on #104
This is a fork of my extension in its early days. It won't help since the guy only fixed a typo 2 years ago it seems...:)

[2020-11-18 18:18] lisamariet commented on #104
did you see he seem to have a functionsv2 ? https://github.com/meanin/azure-apim-vsts/tree/apim_upgrade/apimfunctionv2versioned

[2020-11-18 19:05] neilsouth opened #105 "Using API Management - getting error ##[error]Capacity exceeds maximum capacity."
Using API Management - Create/Update API task while Deploying API

when using this with a large definition Im seeing this warning / error pair

[code]

Im guessing the deployment works by copying the swagger file to a variable.

are there any work around's for this ?

[2020-12-02 10:01] francesco-scullino opened #106 "Web service URL blank after update"
Hello,
the **Web service URL** become blank using the task in a YAML pipeline.

<img width="450" alt="image" src="https://user-images.githubusercontent.com/1720798/100857734-5a014d80-348d-11eb-8476-d266d3d79bec.png">

This issue don't exist using a classic pipeline. I compared the generated YAML from classic pipeline and it is the same as the one I created in YAML pipeline.

What is the YAML param

[2020-12-02 13:39] #106 closed

[2020-12-02 13:40] francesco-scullino commented on #106
The error was not in the task but for the missing server url in the swagger definition

[2020-12-03 13:26] FrankBurmo opened #107 "'Create/Update Product'-task missing option for setting "Description" on Product"
Our developers and partners use our apim Developer Portal to subscribe to our product-apis.

But the products created with the 'Create/Update Product'-task does make it possible to set the field "Description" on the Product, only "Display Name".

So our wish is that "Description" is added as a field to this task, that way the products in the developer portal is displayed properly.

![image](https:

[2020-12-23 22:55] MattHartz commented on #106
Can we reopen this? When deploying to different environments, i would like to be able change this in a given pipeline

[2020-12-23 22:59] MattHartz commented on #66
Didn't fix it for me :(

[2021-01-06 03:45] cneilmon opened #108 "Error when API is set to minimum TLS 1.2"
Receiving the following on our release:

##[error]You cannot call a method on a null-valued expression.

as by default, PowerShell uses TLS 1.0

[2021-02-01 08:20] alanta commented on #106
I'm with @MattHartz on this. We're generating the swagger json in a build and then deploying that to different environments. I need a way to specify the URL in the task to be able to do that.

[2021-02-12 15:36] tmonaco commented on #83
Hi,

We are with the same problem. @stephaneey any news about it?

Tks

[2021-02-18 14:16] SahinOzdemir opened #110 "Feature request - Create or Update Versioned API from WSDL"
For REST API's there is the functionality to “Create or Update Versioned API”, which works great!

Is there any chance that there will be such functionality for SOAP/WSDL based api's?
It would really help our dev team in automating as much as we can.

[2021-02-18 14:18] rickvi1 commented on #110
Would be great functionality!

[2021-02-22 15:44] surfaace opened #111 "Running during yaml BUILd pipeline and v5 results in 'You cannot call a method on a null-valued expression'"
During our swap over from classic pipelines we want to do post-deployment tasks for updating apim. This has previously been done in classic releasepipeline so configuration should work and we have used the 'export yaml' part.

Also tested doing adjuments to configuration but i cannot get it to work.

As others have said here I've tested downgrading TLS to 1.0 from 1.2 but this didn't solve anythin

[2021-04-14 03:01] ShivamDevopsCommunity opened #112 "The remote server returned an error: (404) Not Found."
Hi
what does it mean this error after API created at APIMs?
##[error]The remote server returned an error: (404) Not Found.
##[section]Finishing: API Management - Create/Update API Versioned

[2021-04-14 03:01] ShivamDevopsCommunity opened #113 "The remote server returned an error: (404) Not Found."
Hi
what does it mean this error after API created at APIMs?
##[error]The remote server returned an error: (404) Not Found.
##[section]Finishing: API Management - Create/Update API Versioned

[2021-05-03 20:40] keithsmith-ascendum opened #114 "API Management - Create or Update API removes previous values eg. Web Service URL, CORS, etc"
Using the plugin to update the API Swagger JSON and it blows out other settings in the API, such as CORS, Web Service URL, etc. making the end result not working without having to manually go back and reapply previous set versions.

[2021-06-30 13:44] progmars commented on #114
Losing "Web service URL" is a roadblock for me too. It would be nice to have some field to specify it in the task itself.

But there's a workaround - use `<set-backend-service base-url="base URL of the backend service" />` in the Policy section.

[2021-07-06 12:32] nbakx-vbe commented on #39
Any idea when this will be added?

[2021-08-24 08:01] Ozzian opened #115 "Create or Update Product: APIM Consumption plan doesn't have groups."
Hey,

I really much love this tool. We use APIM from the consumption plan, and the latest addition allowing us to use xml-artifacts to fill in the policies has been a blast!

Now, we tried to fork the policies using Products. The problem is that the groups are not part of the consumption tier products, meaning that the task fails with it.

[code]

Can we skip the group-creation step?

[2021-08-25 20:59] sergeizak opened #116 "Transitioning to "API Management - Create or update versioned API""
Hi,

We are introducing versions to our APIs and going from working "API Management - Create or update API" task (v3.3.1) to a new task "API Management - Create or update versioned API". (v5.0.1)

However, we receive somewhat generic error message

_You cannot call a method on a null-valued expression._

Here is what works
- task: apim@3
  displayName: 'API Management - Create/Update Member Demo A

[2021-08-27 12:55] imabusyman opened #117 "Output Variables"
Great Extensions, thanks

I am trying to get the last active revision (no active) that was used when I deployed as I want to append that to a URL for CI testing, how would I do that?

/some.api;rev=3 I want to use this to connect to it for testing the endpoint before I make it online.

[2021-08-30 11:52] surfaace commented on #111
I have not and i see that i dont have added the configuration(s) tested. Once i start tackle this again i will post configuration updates

[2021-09-25 17:11] #93 closed

[2021-09-29 16:59] Emmanuel35 opened #118 "unexpected token"
I use a pipeline declaration to modify an operation
[code]

My policies file, listGammes.xml, contains:
[code]

Deploiment block with an error:
[code]

So, I have checked and verify my policies. It is accepted with a *manual* deployment.

[2021-10-19 13:29] Nibell opened #119 "Invalid file location"
Hi,

Get error on azure pipeline using yml when creating api with artifact.
Error is ##[error]Invalid file location D:\a\1\s/OpenApi/swagger.json

I know that swagger.json exist.
Get the following from cmd test task.
D:\a\1\s\OpenApi\swagger.json

[code]

Pipeline
[code]

I'm missing something?

Best Regards
Nibell

[2021-10-20 14:25] #119 closed

[2021-10-20 14:25] Nibell commented on #119
I solved it

[2021-11-02 13:57] Raghubalam opened #120 "API management task unable to deploy resources in azure (azure devops task)"
"target":"AuthenticationSettings","message":"Authorization server was not found."}]}}

I'm getting this error after using this task from last week...Is there any workaround for this extension??

Looks like the authorization server entity is deprecated

![image](https://user-images.githubusercontent.com/40404798/139861360-29f2686a-6f51-488c-9c44-083ffcb33007.png)

[2021-11-02 14:01] Raghubalam commented on #120
@stephaneey Can you please help us here?

[2021-11-19 20:28] Raghubalam commented on #120
Any update on this @stephaneey ?

[2022-02-28 00:23] adminnz opened #121 "Bad Request Creating API"
Looking at the code it appears that the Request body for creating/updating an API does not match what the Microsoft  API Management  api is expecting.
[Azure Create or Update Documentation](https://docs.microsoft.com/en-us/rest/api/apimanagement/current-ga/apis/create-or-update)
Specifically the request body has:
`{
"properties": {
"format": "<format type>,
"value": "<specification value or url>"

[2022-03-24 18:54] andreptcosta commented on #121
same thing issue here

[2022-03-24 19:02] orty opened #122 "Allow the `API Management - Set or update an operation policy` task to consume operations from a previous task"
Hi,

I am currently implementing your extension in our DevOps pipeline for an Azure Function behind an APIM service.
Most specifically, I really enjoyed the ability to consume a data contract from a Swagger endpoint, and my process is now to
- Build & Deploy the AzFunction
- Use the `API Management - Create or update product` task
- Use the `API Management - Create or Update API` task, with the `P

[2022-04-09 21:48] Leonardo-Ferreira opened #124 "Policy for single endpoint in my API?"
I would like to add a policy to a single operation in my API. How can I do it?

[2022-04-10 06:06] stephaneey commented on #124
Hey,

Just use the "Set or Update an operation policy"

[2022-04-10 06:06] #124 closed

[2022-07-12 04:19] amballapavankumar opened #126 "API Timeout Due to 2 min timeout"
We are facing an issue when the API is trying to create/update more than 2 min. Here, we are using the SKU is developer but azure says there is SLA for developer SKU. Also, other work around the provided is.

- Enable API Management access from azure portal
- Change the Authorization header containing a valid shared token
- Change the base URL to https://{servicename.management.azure-api.net}

So

[2022-07-12 06:55] amballapavankumar commented on #126
The timeout happening because of more number(132) of methods/operations for each API.

[2022-08-05 09:24] btejedor opened #127 "API Management TLS 1.0/1.1 Connection ERROR"
Error connecting Api Management via TLS 1.0/1.2 from azure devops task "Create or Update Product" and "Create or Update API"

Trace:

2022-08-05T08:29:40.5172679Z ##[debug]POST https://login.windows.net/***/oauth2/token with -1-byte payload
2022-08-05T08:29:40.7623310Z
2022-08-05T08:29:40.7661676Z ##[debug]Leaving C:\vstsagent\A1\_work\_tasks\apim_3b398826-5e89-4a34-a708-f801fc9ba1c3\3.0.0\apim.ps

[2022-08-05 09:27] btejedor commented on #127
@stephaneey can you help me with this issue please?

Thanks!

[2022-08-11 13:23] lufa12 commented on #127
Hello,

I have the same issues.
Thanks for help

[2022-08-12 06:23] btejedor commented on #127
@lufa12 the solution is adding a new agent job Azure Pipelines / windows-latest and add all the tasks wich connect to Api Management, this agent job connect with TLS 1.2

[2022-10-27 21:50] levymuriuki opened #128 "Is this project still alive?"
Is this project still alive? @stephaneey

[2022-10-28 05:17] stephaneey commented on #128
Hello,

I do not maintain it anymore. At the time I launched it, there was no real alternative to deploy APIs from CI/CD pipelines. Now, you can easily tackle this with Bicep & Terraform.

Best Regards

[2022-11-16 11:27] absolutebandit commented on #62
I also have this issue, it does import ok using the Portal so please can you explain why the extension doesn't work?